# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
.venv/

# Django
*.sqlite3
*.log
staticfiles/
media/
.env
local_settings.py

# Node
node_modules/
dist/
build/
.cache/

# Vite
*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
